<?php declare(strict_types=1);

namespace PeeHaa\FeedMe;

use PeeHaa\FeedMe\Configuration\Database;
use PeeHaa\FeedMe\Configuration\Redis;

return [
    'database' => [
        'hostname' => 'localhost',
        'port'     => Database::DEFAULT_PORT,
        'username' => 'root',
        'password' => 'password',
        'name'     => 'feed_me',
    ],
    'redis' => [
        'hostname' => 'localhost',
        'port'     => Redis::DEFAULT_PORT,
    ],
    'webServer' => [
        'domain'     => 'localhost',
        'port'       => 1337,
        'sslEnabled' => false,
        'bindAddresses' => [
            '0.0.0.0:1337',
            '[::]:1337',
        ],
    ],
];
