$border-width: 2px;
$enable-rounded: false;
$primary: #183f6ccc;
$input-font-weight: 600;
$btn-font-weight: 600;

@import "./../bootstrap";

$input-border-color: $gray-400;

/** Mandatory custom variables*/
$color-header-1: #00000040;
$color-header-2: #343a40;
$color-main-background: white;

/** Main layout */
body {
    font-size: .875rem;
    height: 100%;

    background: #f8f9fa;

    &.authenticated {
        background: $color-main-background;
    }

    main {
        padding-top: calc(48px);
    }
}

.alert {
    font-weight: 600;
}
